<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member_detail</title>
  </head>
  <body>
    <h1>Full detail of {{Members.first_name}}</h1>
    <p>Full Name: {{Members.first_name}} {{Members.last_name}}</p>
    <p>Age: {{Members.age}}</p>
    <p>Phone: {{Members.phone}}</p>
    <p>Email: {{Members.email}}</p>
    <p>Joined date : {{Members.joined_date}}</p>
  </body>
</html>
